$max-horizontal: 500px;
$horizontal: 90%;

@mixin centrar($tipo: true) {
  display: flex;
  flex-direction: column;
  align-items: center;
  @if $tipo {
    justify-content: center;
  }
}

.container {
  //background-color: #5f9ea0;
  @include centrar();
}

.container-image {
  //background-color:darkviolet;
  width: $horizontal;
}

.titulo {
  h1 {
    color: #0a58ca;
    text-align: center;
  }
  max-width: $max-horizontal;
}

.form {
  // Si no es menor a 600px
  max-width: $max-horizontal;
  @include centrar(false);
  //background-color: blue;

  .array-container {
    width: $horizontal;
    .card-container {
      //background-color: chartreuse;
      padding: 10px;
      align-items: center;
      .card-form {
        border: 1px solid;
        .card-form {
          max-width: $max-horizontal;
        }
      }
    }
  }
}

.form-small {
  // Si es menor a 600px
  max-width: $max-horizontal;
  @include centrar(false);
  //background-color: yellow;
  .array-container {
    width: $horizontal;
    .card-container {
      //background-color: chartreuse;
      padding: 10px;
      align-items: center;
      .card-form {
        //background-color: crimson;
        border: 1px solid;
        .card-form {
          max-width: $horizontal;
        }
      }
    }
  }
}

.form-field {
  width: $horizontal;
  padding: 5px;
}

.card-field {
  width: 100%;
  padding: 5px;
}

.card-actions {
  display: flex;
  justify-content: flex-start;
}

.array-button {
  display: flex;
  justify-content: flex-end;
}

.cnt-btn-principal {
  width: 100%;
  padding: 15px;
  .btn-principal {
    width: 100%;
  }
}
