<div class="container">
  <div class="titulo">
    <h1>{{ titulo }}</h1>
    <p>Recuerde que debe cumplir con los requisitos para el puesto al que postula.</p>
  </div>
  <hr>
  <form (ngSubmit)="Guardar()" [ngClass]="(isXSmall$ | async) ? 'form-small' : 'form'" [formGroup]="postulanteForm">
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Puesto a postular</mat-label>
      <mat-select formControlName="puestoId">
        <mat-option *ngFor="let p of Puestos" [value]="p.idPuesto">{{ p.descripcion }}</mat-option>
      </mat-select>
      <mat-error *ngIf="postulanteForm.controls.puestoId.hasError('required') || postulanteForm.controls.puestoId.hasError('min')">Puesto es requerido</mat-error>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Departamento</mat-label>
      <mat-select formControlName="departamentoId">
        <mat-option *ngFor="let d of Departamentos" [value]="d.idDepartamento">{{ d.descripcion }}</mat-option>
      </mat-select>
      <mat-error *ngIf="postulanteForm.controls.departamentoId.hasError('required') || postulanteForm.controls.departamentoId.hasError('min')">Departamento es requerido</mat-error>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Apellido paterno</mat-label>
      <input matInput type="text" formControlName="primerApellido">
      <mat-error *ngIf="postulanteForm.controls.primerApellido.hasError('required')">Apellido paterno es requerido</mat-error>
      <mat-error *ngIf="postulanteForm.controls.primerApellido.hasError('minlength')">Apellido paterno tiene una longitud minima de 1 caracter</mat-error>
      <mat-error *ngIf="postulanteForm.controls.primerApellido.hasError('maxlength')">Apellido paterno tiene una longitud máxima de 35 caracteres</mat-error>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Apellido materno</mat-label>
      <input matInput type="text" formControlName="segundoApellido">
      <mat-error *ngIf="postulanteForm.controls.segundoApellido.hasError('required')">Apellido materno es requerido</mat-error>
      <mat-error *ngIf="postulanteForm.controls.segundoApellido.hasError('minlength')">Apellido materno tiene una longitud minima de 1 caracter</mat-error>
      <mat-error *ngIf="postulanteForm.controls.segundoApellido.hasError('maxlength')">Apellido materno tiene una longitud máxima de 35 caracteres</mat-error>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Nombres</mat-label>
      <input matInput type="text" formControlName="nombres">
      <mat-error *ngIf="postulanteForm.controls.nombres.hasError('required')">Nombres es requerido</mat-error>
      <mat-error *ngIf="postulanteForm.controls.nombres.hasError('minlength')">Nombres tiene una longitud minima de 1 caracter</mat-error>
      <mat-error *ngIf="postulanteForm.controls.nombres.hasError('maxlength')">Nombres tiene una longitud máxima de 50 caracteres</mat-error>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Número de documento</mat-label>
      <input matInput type="text" formControlName="documentoIdentidad">
      <mat-error *ngIf="postulanteForm.controls.documentoIdentidad.hasError('required')">Número de documento es requerido</mat-error>
      <mat-error *ngIf="postulanteForm.controls.documentoIdentidad.hasError('minlength')">Número de documento tiene una longitud minima de 1 caracter</mat-error>
      <mat-error *ngIf="postulanteForm.controls.documentoIdentidad.hasError('maxlength')">Número de documento tiene una longitud máxima de 20 caracteres</mat-error>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Documento de Identidad</mat-label>
      <mat-select formControlName="documentoRespaldoId">
        <mat-option *ngFor="let t of TipoDocumentos" [value]="t.tipodocCodigo">{{ t.tipodocDescripcion }}</mat-option>
      </mat-select>
      <mat-error *ngIf="postulanteForm.controls.documentoRespaldoId.hasError('required') || postulanteForm.controls.documentoRespaldoId.hasError('minlength') || postulanteForm.controls.documentoRespaldoId.hasError('maxlength')">Documento de identidad es requerido</mat-error>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Fecha de nacimiento</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento">
      <mat-hint>MM/DD/YYYY (Mes/Dia/Año)</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="postulanteForm.controls.fechaNacimiento.hasError('required')">Fecha de Nacimiento es <strong>requerido</strong></mat-error>
    </mat-form-field>
    <!-- Pais -->
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Pais de nacimiento</mat-label>
      <input type="text" matInput [formControl]="postulanteForm.controls.paisId" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption [displayWith]="displayFn">
        <mat-option *ngFor="let pais of paisesOpciones | async" [value]="pais">
          {{ pais.paisDescripcion }}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="postulanteForm.controls.paisId.hasError('required')">Pais es <strong>requerido</strong></mat-error>
      <mat-error *ngIf="postulanteForm.controls.paisId.hasError('min')">Seleccion no valida</mat-error>
    </mat-form-field>
    <!-- Pais -->
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Género</mat-label>
      <mat-select formControlName="generoId">
        <mat-option *ngFor="let i of Generos" [value]="i.idGenero">{{ i.descripcion }}</mat-option>
      </mat-select>
      <mat-error *ngIf="postulanteForm.controls.generoId.hasError('required') || postulanteForm.controls.generoId.hasError('min')">Genero es <strong>requerido</strong></mat-error>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Estado Civil</mat-label>
      <mat-select formControlName="estadoCivilId">
        <mat-option *ngFor="let e of EstadoCivil" [value]="e.estadoCivilCodigo">{{ e.estadoCivilDescripcion }}</mat-option>
      </mat-select>
      <mat-error *ngIf="postulanteForm.controls.estadoCivilId.hasError('required')">Estado Civil es <strong>requerido</strong></mat-error>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Telefono Fijo</mat-label>
      <input matInput type="text" formControlName="telefonoFijo">
      <mat-error *ngIf="postulanteForm.controls.telefonoFijo.hasError('required')">Estado Civil es <strong>requerido</strong></mat-error>
      <mat-error *ngIf="postulanteForm.controls.telefonoFijo.hasError('minlength')">Longitud minima de 1 caracter</mat-error>
      <mat-error *ngIf="postulanteForm.controls.telefonoFijo.hasError('maxlength')">Longitud máxima de 30 caracteres</mat-error>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Celular</mat-label>
      <input matInput type="text" formControlName="telefonoCelular">
      <mat-error *ngIf="postulanteForm.controls.telefonoCelular.hasError('required')">Celular es <strong>requerido</strong></mat-error>
      <mat-error *ngIf="postulanteForm.controls.telefonoCelular.hasError('minlength')">Longitud minima de 1 caracter</mat-error>
      <mat-error *ngIf="postulanteForm.controls.telefonoCelular.hasError('maxlength')">Longitud máxima de 30 caracteres</mat-error>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="emailPersonal">
      <mat-error *ngIf="postulanteForm.controls.emailPersonal.hasError('required')">Email es <strong>requerido</strong></mat-error>
      <mat-error *ngIf="postulanteForm.controls.emailPersonal.hasError('pattern')">Por favor, ingrese un email valido</mat-error>
      <mat-error *ngIf="postulanteForm.controls.emailPersonal.hasError('minlength')">Longitud minima de 1 caracter</mat-error>
      <mat-error *ngIf="postulanteForm.controls.emailPersonal.hasError('maxlength')">Longitud máxima de 30 caracteres</mat-error>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Domicilio</mat-label>
      <textarea matInput formControlName="domicilioLegal"></textarea>
      <mat-error *ngIf="postulanteForm.controls.domicilioLegal.hasError('required')">Domicilio es <strong>requerido</strong></mat-error>
      <mat-error *ngIf="postulanteForm.controls.domicilioLegal.hasError('minlength')">Longitud minima de 1 caracter</mat-error>
      <mat-error *ngIf="postulanteForm.controls.domicilioLegal.hasError('maxlength')">Longitud máxima de 250 caracteres</mat-error>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Pretension salarial (en bolivianos)</mat-label>
      <input matInput type="number" formControlName="pretensionSalarial">
      <mat-error *ngIf="postulanteForm.controls.pretensionSalarial.hasError('required')">Pretension salarial es <strong>requerido</strong></mat-error>
      <mat-error *ngIf="postulanteForm.controls.pretensionSalarial.hasError('min')">El valor no es valido</mat-error>
    </mat-form-field>
    <mat-checkbox formControlName="licenciaConducir">¿Tiene licencia de conducir?</mat-checkbox>
    <mat-checkbox formControlName="licenciaMotocicleta">¿Tiene licencia de motocicleta?</mat-checkbox>
    <!-- Imagen -->
    <div class="container-image">
      <h4>Cargar foto</h4>
      <app-upload-photo (rutaResultado)="getRutaFoto($event)"></app-upload-photo>
      <div *ngIf="postulanteForm.controls.fotoRuta.hasError('required') || postulanteForm.controls.fotoRuta.hasError('minlength')">
        <p><font color="red">La foto es <strong>requerida</strong></font></p>
      </div>
    </div>
    <!-- Contenedor de Estudios Primarios -->
    <div class="array-container" formArrayName="estudiosFormP">
      <h1>Educación Primaria</h1>
      <p>Ingrese información acerca de su educación primaria. Es requerido al menos un registro.</p>
      <div class="card-container" *ngFor="let est of postulanteForm.controls.estudiosFormP.controls; let i = index">
        <mat-card class="card-form" [formGroupName]="i">
          <mat-card-header>
            <mat-card-title># {{ i + 1 }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <input type="hidden" formControlName="tipo">
            <input type="hidden" formControlName="tituloObtenido">
            <input type="hidden" formControlName="nivelEducativoId">
            <mat-form-field class="card-field" appearance="outline">
              <mat-label>Institución educativa</mat-label>
              <input matInput type="text" formControlName="centroEducativo">
              <mat-error *ngIf="est.controls.centroEducativo.hasError('required')">Institución educativa es <strong>requerida</strong></mat-error>
              <mat-error *ngIf="est.controls.centroEducativo.hasError('minlength')">Institución educativa tiene una longitud minima de 1 caracter</mat-error>
              <mat-error *ngIf="est.controls.centroEducativo.hasError('maxlength')">Institución educativa tiene una longitud máxima de 80 caracteres</mat-error>
            </mat-form-field>
            <mat-form-field class="card-field" appearance="outline">
              <mat-label>Ciudad</mat-label>
              <input matInput type="text" formControlName="ciudad">
              <mat-error *ngIf="est.controls.ciudad.hasError('required')">Ciudad es <strong>requerido</strong></mat-error>
              <mat-error *ngIf="est.controls.ciudad.hasError('minlength')">Ciudad tiene una longitud minima de 1 caracter</mat-error>
              <mat-error *ngIf="est.controls.ciudad.hasError('maxlength')">Ciudad tiene una longitud máxima de 50 caracteres</mat-error>
            </mat-form-field>
            <mat-form-field class="card-field" appearance="outline">
              <mat-label>Ingrese el rango de fechas de permanencia</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                <input matStartDate formControlName="fechaInicio" placeholder="Fecha de inicio">
                <input matEndDate formControlName="fechaFinalizacion" placeholder="Fecha de finalización">
              </mat-date-range-input>
              <mat-hint>MM/DD/YYYY – MM/DD/YYYY (Mes/Dia/Año)</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
              <mat-error *ngIf="est.controls.fechaInicio.hasError('matStartDateInvalid')">Fecha de inicio inválida</mat-error>
              <mat-error *ngIf="est.controls.fechaFinalizacion.hasError('matEndDateInvalid')">Fecha de finalización inválida</mat-error>
              <mat-error *ngIf="est.controls.fechaInicio.hasError('required')">Fecha de inicio es <strong>requerido</strong></mat-error>
              <mat-error *ngIf="est.controls.fechaFinalizacion.hasError('required')">Fecha de finalización es <strong>requerido</strong></mat-error>
              <mat-error *ngIf="est.controls.fechaInicio.hasError('matDatepickerParse')">Fecha de inicio con formato inválido</mat-error>
              <mat-error *ngIf="est.controls.fechaFinalizacion.hasError('matDatepickerParse')">Fecha de finalización con formato inválido</mat-error>
            </mat-form-field>
            <mat-checkbox formControlName="estudiandoActualmente">¿Esta en estudio actualmente?</mat-checkbox>
          </mat-card-content>
          <mat-card-actions class="card-actions">
            <button mat-raised-button color="warn" (click)="delEducacion(i, 1)" type="button"><mat-icon>do_not_disturb_on</mat-icon> Eliminar</button>
          </mat-card-actions>
        </mat-card>
        <br>
      </div>
      <div class="array-button">
        <button mat-raised-button color="accent" (click)="addEducacion(1)" type="button"><mat-icon>add_circle</mat-icon> Agregar Educación Primaria</button>
      </div>
    </div>
    <!-- Contenedor de Estudios Secundarios -->
    <div class="array-container" formArrayName="estudiosFormS">
      <h1>Educación Secundaria</h1>
      <p>Ingrese información acerca de su educación secundaria. Es requerido al menos un registro.</p>
      <div class="card-container" *ngFor="let est of postulanteForm.controls.estudiosFormS.controls; let i = index">
        <mat-card class="card-form" [formGroupName]="i">
          <mat-card-header>
            <mat-card-title># {{ i + 1 }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <input type="hidden" formControlName="tipo">
            <input type="hidden" formControlName="tituloObtenido">
            <input type="hidden" formControlName="nivelEducativoId">
            <mat-form-field class="card-field" appearance="outline">
              <mat-label>Institución educativa</mat-label>
              <input matInput type="text" formControlName="centroEducativo">
              <mat-error *ngIf="est.controls.centroEducativo.hasError('required')">Institución educativa es <strong>requerida</strong></mat-error>
              <mat-error *ngIf="est.controls.centroEducativo.hasError('minlength')">Institución educativa tiene una longitud minima de 1 caracter</mat-error>
              <mat-error *ngIf="est.controls.centroEducativo.hasError('maxlength')">Institución educativa tiene una longitud máxima de 80 caracteres</mat-error>
            </mat-form-field>
            <mat-form-field class="card-field" appearance="outline">
              <mat-label>Ciudad</mat-label>
              <input matInput type="text" formControlName="ciudad">
              <mat-error *ngIf="est.controls.ciudad.hasError('required')">Ciudad es <strong>requerido</strong></mat-error>
              <mat-error *ngIf="est.controls.ciudad.hasError('minlength')">Ciudad tiene una longitud minima de 1 caracter</mat-error>
              <mat-error *ngIf="est.controls.ciudad.hasError('maxlength')">Ciudad tiene una longitud máxima de 50 caracteres</mat-error>
            </mat-form-field>
            <mat-form-field class="card-field" appearance="outline">
              <mat-label>Ingrese el rango de fechas de permanencia</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                <input matStartDate formControlName="fechaInicio" placeholder="Fecha de inicio">
                <input matEndDate formControlName="fechaFinalizacion" placeholder="Fecha de finalización">
              </mat-date-range-input>
              <mat-hint>MM/DD/YYYY – MM/DD/YYYY (Mes/Dia/Año)</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
              <mat-error *ngIf="est.controls.fechaInicio.hasError('matStartDateInvalid')">Fecha de inicio inválida</mat-error>
              <mat-error *ngIf="est.controls.fechaFinalizacion.hasError('matEndDateInvalid')">Fecha de finalización inválida</mat-error>
              <mat-error *ngIf="est.controls.fechaInicio.hasError('required')">Fecha de inicio es <strong>requerido</strong></mat-error>
              <mat-error *ngIf="est.controls.fechaFinalizacion.hasError('required')">Fecha de finalización es <strong>requerido</strong></mat-error>
              <mat-error *ngIf="est.controls.fechaInicio.hasError('matDatepickerParse')">Fecha de inicio con formato inválido</mat-error>
              <mat-error *ngIf="est.controls.fechaFinalizacion.hasError('matDatepickerParse')">Fecha de finalización con formato inválido</mat-error>
            </mat-form-field>
            <mat-checkbox formControlName="estudiandoActualmente">¿Esta en estudio actualmente?</mat-checkbox>
          </mat-card-content>
          <mat-card-actions class="card-actions">
            <button mat-raised-button color="warn" (click)="delEducacion(i, 2)" type="button"><mat-icon>do_not_disturb_on</mat-icon> Eliminar</button>
          </mat-card-actions>
        </mat-card>
        <br>
      </div>
      <div class="array-button">
        <button mat-raised-button color="accent" (click)="addEducacion(2)" type="button"><mat-icon>add_circle</mat-icon> Agregar Educación Secundaria</button>
      </div>
    </div>
    <!-- Contenedor de Estudios Superiores -->
    <div class="array-container" formArrayName="estudiosFormO">
      <h1>Educación Universitaria, Técnica, Cursos, Postgrados y Seminarios</h1>
      <p>Ingrese información acerca de su educación superior. Es requerido al menos un registro.</p>
      <div class="card-container" *ngFor="let est of postulanteForm.controls.estudiosFormO.controls; let i = index">
        <mat-card class="card-form" [formGroupName]="i">
          <mat-card-header>
            <mat-card-title># {{ i + 1 }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <input type="hidden" formControlName="tipo">
            <mat-form-field class="card-field" appearance="outline">
              <mat-label>Institución educativa</mat-label>
              <input matInput type="text" formControlName="centroEducativo">
              <mat-error *ngIf="est.controls.centroEducativo.hasError('required')">Institución educativa es <strong>requerida</strong></mat-error>
              <mat-error *ngIf="est.controls.centroEducativo.hasError('minlength')">Institución educativa tiene una longitud minima de 1 caracter</mat-error>
              <mat-error *ngIf="est.controls.centroEducativo.hasError('maxlength')">Institución educativa tiene una longitud máxima de 80 caracteres</mat-error>
            </mat-form-field>
            <mat-form-field class="card-field" appearance="outline">
              <mat-label>Titulo tituloObtenido</mat-label>
              <input matInput type="text" formControlName="tituloObtenido">
              <mat-error *ngIf="est.controls.tituloObtenido.hasError('required')">Institución educativa es <strong>requerida</strong></mat-error>
              <mat-error *ngIf="est.controls.tituloObtenido.hasError('minlength')">Institución educativa tiene una longitud minima de 1 caracter</mat-error>
              <mat-error *ngIf="est.controls.tituloObtenido.hasError('maxlength')">Institución educativa tiene una longitud máxima de 80 caracteres</mat-error>
            </mat-form-field>
            <mat-form-field class="card-field" appearance="outline">
              <mat-label>Nivel de Estudio</mat-label>
              <mat-select formControlName="nivelEducativoId">
                <mat-option *ngFor="let ne of NEducaciones" [value]="ne.nivelEducCodigo">{{ ne.nivelEducDescripcion }}</mat-option>
              </mat-select>
              <mat-error *ngIf="est.controls.nivelEducativoId.hasError('required') || est.controls.nivelEducativoId.hasError('min')">Nivel Educativo es <strong>requerido</strong></mat-error>
            </mat-form-field>
            <mat-form-field class="card-field" appearance="outline">
              <mat-label>Ciudad</mat-label>
              <input matInput type="text" formControlName="ciudad">
              <mat-error *ngIf="est.controls.ciudad.hasError('required')">Ciudad es <strong>requerido</strong></mat-error>
              <mat-error *ngIf="est.controls.ciudad.hasError('minlength')">Ciudad tiene una longitud minima de 1 caracter</mat-error>
              <mat-error *ngIf="est.controls.ciudad.hasError('maxlength')">Ciudad tiene una longitud máxima de 50 caracteres</mat-error>
            </mat-form-field>
            <mat-form-field class="card-field" appearance="outline">
              <mat-label>Ingrese el rango de fechas de permanencia</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                <input matStartDate formControlName="fechaInicio" placeholder="Fecha de inicio">
                <input matEndDate formControlName="fechaFinalizacion" placeholder="Fecha de finalización">
              </mat-date-range-input>
              <mat-hint>MM/DD/YYYY – MM/DD/YYYY (Mes/Dia/Año)</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
              <mat-error *ngIf="est.controls.fechaInicio.hasError('matStartDateInvalid')">Fecha de inicio inválida</mat-error>
              <mat-error *ngIf="est.controls.fechaFinalizacion.hasError('matEndDateInvalid')">Fecha de finalización inválida</mat-error>
              <mat-error *ngIf="est.controls.fechaInicio.hasError('required')">Fecha de inicio es <strong>requerido</strong></mat-error>
              <mat-error *ngIf="est.controls.fechaFinalizacion.hasError('required')">Fecha de finalización es <strong>requerido</strong></mat-error>
              <mat-error *ngIf="est.controls.fechaInicio.hasError('matDatepickerParse')">Fecha de inicio con formato inválido</mat-error>
              <mat-error *ngIf="est.controls.fechaFinalizacion.hasError('matDatepickerParse')">Fecha de finalización con formato inválido</mat-error>
            </mat-form-field>
            <mat-checkbox formControlName="estudiandoActualmente">¿Esta en estudio actualmente?</mat-checkbox>
          </mat-card-content>
          <mat-card-actions class="card-actions">
            <button mat-raised-button color="warn" (click)="delEducacion(i, 3)" type="button"><mat-icon>do_not_disturb_on</mat-icon> Eliminar</button>
          </mat-card-actions>
        </mat-card>
        <br>
      </div>
      <div class="array-button">
        <button mat-raised-button color="accent" (click)="addEducacion(3)" type="button"><mat-icon>add_circle</mat-icon> Agregar Educación Superior</button>
      </div>
    </div>
    <!-- Contenedor de Experiencia Laboral -->
    <div class="array-container" formArrayName="experienciaForm">
      <h1>Experiencia Laboral</h1>
      <p>Ingrese informacion acerca de su experiencia laboral. Es requerido al menos un registro.</p>
      <div class="card-container" *ngFor="let exp of postulanteForm.controls.experienciaForm.controls; let j = index">
        <mat-card class="card-form" [formGroupName]="j">
          <mat-card-header>
            <mat-card-title># {{ j + 1 }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-form-field class="card-field" appearance="outline">
              <mat-label>Nombre de la Institución</mat-label>
              <input matInput type="text" formControlName="nombreInstitucion">
              <mat-error *ngIf="exp.controls.nombreInstitucion.hasError('required')">Institución es <strong>requerida</strong></mat-error>
              <mat-error *ngIf="exp.controls.nombreInstitucion.hasError('minlength')">Institución tiene una longitud minima de 1 caracter</mat-error>
              <mat-error *ngIf="exp.controls.nombreInstitucion.hasError('maxlength')">Institución tiene una longitud máxima de 50 caracteres</mat-error>
            </mat-form-field>
            <mat-form-field class="card-field" appearance="outline">
              <mat-label>Cargo ejercido</mat-label>
              <input matInput type="text" formControlName="cargo">
              <mat-error *ngIf="exp.controls.cargo.hasError('required')">Cargo es <strong>requerida</strong></mat-error>
              <mat-error *ngIf="exp.controls.cargo.hasError('minlength')">Cargo educativa tiene una longitud minima de 1 caracter</mat-error>
              <mat-error *ngIf="exp.controls.cargo.hasError('maxlength')">Cargo tiene una longitud máxima de 50 caracteres</mat-error>
            </mat-form-field>
            <mat-form-field class="card-field" appearance="outline">
              <mat-label>Función general</mat-label>
              <textarea matInput formControlName="funcionGeneral"></textarea>
              <mat-error *ngIf="exp.controls.funcionGeneral.hasError('required')">Función general es <strong>requerido</strong></mat-error>
              <mat-error *ngIf="exp.controls.funcionGeneral.hasError('minlength')">Función general tiene una longitud minima de 1 caracter</mat-error>
              <mat-error *ngIf="exp.controls.funcionGeneral.hasError('maxlength')">Función general tiene una longitud máxima de 500 caracteres</mat-error>
            </mat-form-field>
            <mat-form-field class="card-field" appearance="outline">
              <mat-label>Ciudad</mat-label>
              <input matInput type="text" formControlName="ciudad">
              <mat-error *ngIf="exp.controls.ciudad.hasError('required')">Ciudad es <strong>requerida</strong></mat-error>
              <mat-error *ngIf="exp.controls.ciudad.hasError('minlength')">Ciudad tiene una longitud minima de 1 caracter</mat-error>
              <mat-error *ngIf="exp.controls.ciudad.hasError('maxlength')">Ciudad tiene una longitud máxima de 50 caracteres</mat-error>
            </mat-form-field>
            <mat-form-field class="card-field" appearance="outline">
              <mat-label>Ingrese el rango de fechas de permanencia</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                <input matStartDate formControlName="fechaInicio" placeholder="Fecha de inicio">
                <input matEndDate formControlName="fechaFinalizacion" placeholder="Fecha de finalización">
              </mat-date-range-input>
              <mat-hint>MM/DD/YYYY – MM/DD/YYYY (Mes/Dia/Año)</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
              <mat-error *ngIf="exp.controls.fechaInicio.hasError('matStartDateInvalid')">Fecha de inicio inválida</mat-error>
              <mat-error *ngIf="exp.controls.fechaFinalizacion.hasError('matEndDateInvalid')">Fecha de finalización inválida</mat-error>
              <mat-error *ngIf="exp.controls.fechaInicio.hasError('required')">Fecha de inicio es <strong>requerido</strong></mat-error>
              <mat-error *ngIf="exp.controls.fechaFinalizacion.hasError('required')">Fecha de finalización es <strong>requerido</strong></mat-error>
              <mat-error *ngIf="exp.controls.fechaInicio.hasError('matDatepickerParse')">Fecha de inicio con formato inválido</mat-error>
              <mat-error *ngIf="exp.controls.fechaFinalizacion.hasError('matDatepickerParse')">Fecha de finalización con formato inválido</mat-error>
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions class="card-actions">
            <button mat-raised-button color="warn" (click)="delExperiencia(j)" type="button"><mat-icon>do_not_disturb_on</mat-icon> Eliminar</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="array-button">
        <button mat-raised-button color="accent" (click)="addExperiencia()" type="button"><mat-icon>add_circle</mat-icon> Agregar Experiencia Laboral</button>
      </div>
    </div>
    <!-- Contenedor de Habilidades -->
    <div class="array-container" formArrayName="habilidadForm">
      <h1>Habilidades</h1>
      <p>Aquí puedes agregar conocimientos especificos como ser paquetes de software (Microsoft Office) o algun otro tipo de experiencia relevante que no se muestre en tu formación academica y profesional. Es requerido al menos un registro.</p>
      <div class="card-container" *ngFor="let hab of postulanteForm.controls.habilidadForm.controls; let k = index">
        <mat-card class="card-form" [formGroupName]="k">
          <mat-card-header>
            <mat-card-title># {{ k + 1 }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-form-field class="card-field" appearance="outline">
              <mat-label>Habilidad</mat-label>
              <textarea matInput formControlName="descripcion"></textarea>
              <mat-error *ngIf="hab.controls.descripcion.hasError('required')">Habilidad es <strong>requerida</strong></mat-error>
              <mat-error *ngIf="hab.controls.descripcion.hasError('minlength')">Habilidad tiene una longitud minima de 1 caracter</mat-error>
              <mat-error *ngIf="hab.controls.descripcion.hasError('maxlength')">Habilidad tiene una longitud máxima de 150 caracteres</mat-error>
            </mat-form-field>
            <mat-form-field class="card-field" appearance="outline">
              <mat-label>Tiempo</mat-label>
              <input matInput type="number" formControlName="tiempo">
              <mat-error *ngIf="hab.controls.tiempo.hasError('required')">Tiempo es <strong>requerido</strong></mat-error>
              <mat-error *ngIf="hab.controls.tiempo.hasError('min')">Tiempo tiene un valor minimo de 1</mat-error>
            </mat-form-field>
            <mat-form-field class="card-field" appearance="outline">
              <mat-label>Unidad de tiempo</mat-label>
              <mat-select formControlName="unidadMedidaId">
                <mat-option *ngFor="let u of UnidadMedidas" [value]="u.idUnidadMedida">{{ u.descripcion }}</mat-option>
              </mat-select>
              <mat-error *ngIf="hab.controls.unidadMedidaId.hasError('required')">Unidad de tiempo es <strong>requerido</strong></mat-error>
              <mat-error *ngIf="hab.controls.unidadMedidaId.hasError('min')">Unidad de tiempo no valida</mat-error>
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="warn" (click)="delHabilidad(k)" type="button"><mat-icon>do_not_disturb_on</mat-icon> Eliminar</button>
          </mat-card-actions>
        </mat-card>
        <br>
      </div>
      <div class="array-button">
        <button mat-raised-button color="accent" (click)="addHabilidad()" type="button"><mat-icon>add_circle</mat-icon> Agregar Habilidad</button>
      </div>
    </div>
    <!-- Contenedor de Idioma -->
    <div class="array-container" formArrayName="idiomaForm">
      <h1>Idioma</h1>
      <p>Ingrese información acerca de los idiomas que posee competencia: ingles, aymara, etc. Es requerido al menos un registro.</p>
      <div class="card-container" *ngFor="let idio of postulanteForm.controls.idiomaForm.controls; let l = index">
        <mat-card class="card-form" [formGroupName]="l">
          <mat-card-header>
            <mat-card-title># {{ l + 1 }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-form-field class="card-field" appearance="outline">
              <mat-label>Idioma</mat-label>
              <textarea matInput formControlName="idiomaDescripcion"></textarea>
              <mat-error *ngIf="idio.controls.idiomaDescripcion.hasError('required')">Idioma es <strong>requerida</strong></mat-error>
              <mat-error *ngIf="idio.controls.idiomaDescripcion.hasError('minlength')">Idioma tiene una longitud minima de 1 caracter</mat-error>
              <mat-error *ngIf="idio.controls.idiomaDescripcion.hasError('maxlength')">Idioma tiene una longitud máxima de 100 caracteres</mat-error>
            </mat-form-field>
            <mat-form-field class="card-field" appearance="outline">
              <mat-label>Nivel Escrito</mat-label>
              <textarea matInput formControlName="nivelEscrito"></textarea>
              <mat-error *ngIf="idio.controls.nivelEscrito.hasError('required')">Nivel Escrito es <strong>requerido</strong></mat-error>
              <mat-error *ngIf="idio.controls.nivelEscrito.hasError('minlength')">Nivel Escrito tiene una longitud minima de 1 caracter</mat-error>
              <mat-error *ngIf="idio.controls.nivelEscrito.hasError('maxlength')">Nivel Escrito tiene una longitud máxima de 150 caracteres</mat-error>
            </mat-form-field>
            <mat-form-field class="card-field" appearance="outline">
              <mat-label>Nivel Oral</mat-label>
              <textarea matInput formControlName="nivelOral"></textarea>
              <mat-error *ngIf="idio.controls.nivelOral.hasError('required')">Nivel Oral es <strong>requerido</strong></mat-error>
              <mat-error *ngIf="idio.controls.nivelOral.hasError('minlength')">Nivel Oral tiene una longitud minima de 1 caracter</mat-error>
              <mat-error *ngIf="idio.controls.nivelOral.hasError('maxlength')">Nivel Oral tiene una longitud máxima de 150 caracteres</mat-error>
            </mat-form-field>
            <mat-form-field class="card-field" appearance="outline">
              <mat-label>Nivel Lectura</mat-label>
              <textarea matInput formControlName="nivelLectura"></textarea>
              <mat-error *ngIf="idio.controls.nivelLectura.hasError('required')">Nivel Lectura es <strong>requerido</strong></mat-error>
              <mat-error *ngIf="idio.controls.nivelLectura.hasError('minlength')">Nivel Lectura tiene una longitud minima de 1 caracter</mat-error>
              <mat-error *ngIf="idio.controls.nivelLectura.hasError('maxlength')">Nivel Lectura tiene una longitud máxima de 150 caracteres</mat-error>
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions class="card-actions">
            <button mat-raised-button color="warn" (click)="delIdioma(l)" type="button"><mat-icon>do_not_disturb_on</mat-icon> Eliminar</button>
          </mat-card-actions>
        </mat-card>
        <br>
      </div>
      <div class="array-button">
        <button mat-raised-button color="accent" (click)="addIdioma()" type="button"><mat-icon>add_circle</mat-icon> Agregar Idioma</button>
      </div>
    </div>
    <!-- Boton de submit -->
    <div class="cnt-btn-principal">
      <button class="btn-principal" mat-raised-button color="primary" [disabled]="btnDisabled" type="submit">REGISTRAR</button>
    </div>
  </form>
</div>
