@mixin centrar() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin centrado($isPhone: true) {
  @include centrar();
  flex-direction: column;
  max-width: 300px;

  @if $isPhone {
    //background-color: red;
  }

  @else {
    //background-color: aqua;
  }

  mat-form-field,
  button {
    width: 100%;
    margin-bottom: 10px;
  }
}

.container {
  background-image: url(~/src/assets/fondo.png);
  background-position: center center;
  background-size: cover;
  @include centrar();
  height: 100%;
}

.carta {
  padding: 5px;
}

.login {
  @include centrado(false);
}

.login-p {
  @include centrado(true);
}
