<div class="container">
  <mat-card class="carta">
    <mat-card-content>
      <form [ngClass]="isPhone ? 'login-p' : 'login'" [formGroup]="loginForm" (ngSubmit)="inicioSesion()">
        <mat-form-field appearance="outline">
          <mat-label>Usuario</mat-label>
          <input matInput placeholder="Placeholder" formControlName="usuario" type="text">
          <mat-icon matSuffix>account_circle</mat-icon>
          <mat-error>Este campo es requerido</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input matInput placeholder="Placeholder" formControlName="password" [type]="hidePassword ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          <mat-icon matSuffix>lock</mat-icon>
          <mat-error>Este campo es requerido</mat-error>
        </mat-form-field>
        <button mat-flat-button type="submit" color="primary">INICIAR SESIÓN</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
