<mat-form-field>
  <div>
    <mat-toolbar>
      <input matInput [value]="selectNombre ? selectNombre : 'Seleccionar foto'" />
    </mat-toolbar>
    <input type="file" id="fileInput" name="fileInput" accept="image/png,image/jpeg,image/jpg" (change)="selectFile($event)" />
  </div>
</mat-form-field>
<div class="container-preview" *ngIf="preview.length">
  <img class="preview" [src]="preview">
</div>
<mat-toolbar *ngIf="progreso > 0">
  <mat-progress-bar color="accent" mode="determinate" [value]="progreso"></mat-progress-bar>
  <span class="progress">{{ progreso }}%</span>
</mat-toolbar>
<div *ngIf="mensaje.length">
  <p>{{ mensaje }}</p>
</div>
