.container-preview {
  display: flex;
  justify-content: center;
}

.preview {
  max-width: 200px;
  vertical-align: middle;
  text-align: center;
}

.mat-form-field {
  width: 100%;
}

.mat-mdc-form-field {
  display: block;
}

#fileInput {
  position: absolute;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
  height: 100%;
  left: 0px;
  top: 0px;
}
