<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <span (click)="drawer.toggle()">Menu</span>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="">Principal</a>
      <a mat-list-item routerLink="login">Login</a>
      <a mat-list-item routerLink="reporte">Reporte</a>
      <a mat-list-item routerLink="postulantes">Postulacion</a>
      <a mat-list-item routerLink="usuarios">Usuario</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>SOFIA</span>
      <div class="menu" *ngIf="isHandset$ | async">
        <mat-icon>format_color_fill</mat-icon>
      </div>
    </mat-toolbar>
    <div class="contenedor">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
